@import "~bootstrap/scss/bootstrap.scss";

html, body, #app-main {
    height: 100%;
  .centered {
    text-align: center;
    padding-top: 10em;
    font-size: 18px;
  }
}

.content {
  margin-top: 50px;
}
.img-wrapper {
  display: block;
  text-align: center;
  img {
    height: 100px;
    width: 100px;
  }
}
.metalzone {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  color: red;

  .search {
    input {
      overflow: visible;
      background-color: black;
      width: 350px;
      border-color: red;
      padding: 5px;
      box-shadow: none;
      color: red;
      outline: none;
    }
  }
  .fetching {
    color: red;
    text-align: center;
  }
  .bands {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    .metal-band {
      width: 50%;
      padding: 1rem;
      border: 1px solid darkred;

    }
  }
}


