<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>vue-course-2018</title>
</head>

<body>

  <div id="app-main">
    <div class="centered">{{instance}}</div>
    <div class="img-wrapper">
      <img class="vue-img" src="assets/img/logo.png">
    </div>
    <div class="metalzone">
      <div class="search">
        <input @keyup.enter="search($event)" :placeholder="searchPlaceholder">
      </div>
      <div class="fetching" v-if="fetching">{{loading}}</div>
      <div class="bands" v-for="band in bands" v-if="!fetching">
        <div class="metal-band">
          <div>{{band.name}}</div>
          <div>{{band.genre}}</div>
          <div>{{band.country}}</div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
